.shoeN{
    padding: 5%;
    margin: 0px !important;
}

.shoe{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}
#p1{
    color: black;
    margin-bottom: 5px;
    font-size: 160%;
    font-family:'Times New Roman', Times, serif;
    font-weight: 1000;
}
#p2{
    color: black;
    margin-bottom: 1px;
}
#p3{
    color:gray;
    font-size: 90%;
}
#p3s{
    color:red;
    font-size: 150%;
}
#p4{
    color:gray;
    margin-bottom: 30px;
}
#p5{
    color: black;
}
.cart-btn{
    color: white;
    width: 100%;
    margin-top: 5%;
    background-color: rgb(0, 0, 121);
}
.tecnical{
    background-color: rgb(3, 35, 180);
    font-size: 200%;
    color: black;
    font-weight: 600;
    padding: 5%;
    padding-bottom: 2%;
    text-align: center;
}
.icon{
    padding:5%;
    color: blue;
}
.iconrow{
    padding-left: 5%;
    padding-right: 5%;
}
#icon{
    padding-left:5%;
    padding-right: 5%;
    text-align: center;
    font-weight: 700;
}
.shoe-pa{
    padding: 0px !important;
    margin: 0px !important;
}